<%- if mt_appname == "DB_Conn" -%>

<h5>Database Connection Details</h5>
<strong>Host:</strong>     <code><%= host %></code><br>
<strong>Port:</strong>     <code><%= port %></code><br>
<strong>Database:</strong> <code><%= database %></code><br>
<strong>Username:</strong> <code><%= user %></code><br>
<strong>Password:</strong> <code><%= password %></code><br>

<div style="display: flex; gap: 20px;" class="d-flex">
<form action="/pun/sys/dashboard/batch_connect/sys/cloudbeaver" method="get" target="_self">
  <button class="btn btn-primary" type="submit" style="width:200px">
    <i class="fa fa-database"></i> Launch CloudBeaver
  </button>
</form>
<form action="/pun/sys/dashboard/batch_connect/sys/dbeaver" method="get" target="_self">
  <button class="btn btn-primary" type="submit" style="width:200px">
    <i class="fa fa-database"></i> Launch DBeaver
  </button>
</form>
</div>

<%- elsif mt_appname == "DB_JDBC" -%>

<strong>JDBC URL:</strong> <pre><code><%= jdbc_url %></code></pre>
<strong>Username:</strong> <code><%= user %></code><br>
<strong>Password:</strong> <code><%= password %></code><br>

<div style="display: flex; gap: 20px;" class="d-flex">
<form action="/pun/sys/dashboard/batch_connect/sys/cloudbeaver" method="get" target="_self">
  <button class="btn btn-primary" type="submit" style="width:200px">
    <i class="fa fa-database"></i> Launch CloudBeaver
  </button>
</form>
<form action="/pun/sys/dashboard/batch_connect/sys/dbeaver" method="get" target="_self">
  <button class="btn btn-primary" type="submit" style="width:200px">
    <i class="fa fa-database"></i> Launch DBeaver
  </button>
</form>
</div>

<%- elsif mt_appname == "VLLM_API" -%>

<strong>VLLM API URL:</strong><pre><code><%= ollama_url.to_s.gsub(":",'&#x3A;') %></code></pre>

The VLLM API URL shown above has been automatically set in the <code>$VLLM_HOST</code> environment variable.

<strong>For Jupyter notebooks:</strong> Select an environment with the OpenAI library installed such as "CHPC Generative AI 2025.3." Select the VLLM API from the list in the form. Once in the Notebook, you can interact with it like below:
<pre><code class="python">from openai import OpenAI
import os
openai_api_key = os.environ['VLLM_API_KEY']
openai_api_base = os.environ['VLLM_HOST'] + "/v1"
client = OpenAI(
    api_key=openai_api_key,
    base_url=openai_api_base,
)
completion = client.completions.create(model="", prompt="Penguins are great because")
print("Completion result:", completion)
</code></pre>
<div style="display: flex; gap: 20px;" class="d-flex">
<form action="/pun/sys/dashboard/batch_connect/sys/multitenant-jupyter" method="get" target="_self">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Launch Jupyter
  </button>
</form>
</div>

<%- elsif mt_appname == "VLLM_Code" -%>

<strong>Base URL:</strong> <code><%= ollama_url.to_s.gsub(":",'&#x3A;') %></code><br>
<strong>Model:</strong> <code><%= ollama_model %></code><br>

<form action="/pun/sys/dashboard/batch_connect/sys/code-server" method="get" target="_self">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-cogs"></i> Launch Code Server
  </button>
</form>

<%- elsif mt_appname == "RShiny_App" -%>

<form action="/rnode/<%= host %>/<%= port %>/" method="get" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to R Shiny App
  </button>
</form>

<%- end -%>
